<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demoweibo.mapper.WeiboMapper" >
  <resultMap id="BaseResultMap" type="com.example.demoweibo.dao.WeiboInfo" >
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="fansNum" property="fansnum" jdbcType="INTEGER" />
    <result column="blogNum" property="blognum" jdbcType="INTEGER" />
    <result column="originalBlogNum" property="originalblognum" jdbcType="INTEGER" />
    <result column="followNum" property="follownum" jdbcType="INTEGER" />
    <result column="homeLink" property="homelink" jdbcType="VARCHAR" />
    <result column="registrationTime" property="registrationtime" jdbcType="DATE" />
    <result column="blogAuthenticate" property="blogauthenticate" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="BCI" property="bci" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userId, username, fansNum, blogNum, originalBlogNum, followNum, homeLink, registrationTime, 
    blogAuthenticate, industry, BCI
  </sql>
    <update id="updateByExampleSelective" parameterType="map" >
        update weibo
        <set >
            <if test="record.userid != null" >
                userId = #{record.userid,jdbcType=VARCHAR},
            </if>
            <if test="record.username != null" >
                username = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.fansnum != null" >
                fansNum = #{record.fansnum,jdbcType=INTEGER},
            </if>
            <if test="record.blognum != null" >
                blogNum = #{record.blognum,jdbcType=INTEGER},
            </if>
            <if test="record.originalblognum != null" >
                originalBlogNum = #{record.originalblognum,jdbcType=INTEGER},
            </if>
            <if test="record.follownum != null" >
                followNum = #{record.follownum,jdbcType=INTEGER},
            </if>
            <if test="record.homelink != null" >
                homeLink = #{record.homelink,jdbcType=VARCHAR},
            </if>
            <if test="record.registrationtime != null" >
                registrationTime = #{record.registrationtime,jdbcType=DATE},
            </if>
            <if test="record.blogauthenticate != null" >
                blogAuthenticate = #{record.blogauthenticate,jdbcType=VARCHAR},
            </if>
            <if test="record.industry != null" >
                industry = #{record.industry,jdbcType=VARCHAR},
            </if>
            <if test="record.bci != null" >
                BCI = #{record.bci,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update weibo
        set userId = #{record.userid,jdbcType=VARCHAR},
        username = #{record.username,jdbcType=VARCHAR},
        fansNum = #{record.fansnum,jdbcType=INTEGER},
        blogNum = #{record.blognum,jdbcType=INTEGER},
        originalBlogNum = #{record.originalblognum,jdbcType=INTEGER},
        followNum = #{record.follownum,jdbcType=INTEGER},
        homeLink = #{record.homelink,jdbcType=VARCHAR},
        registrationTime = #{record.registrationtime,jdbcType=DATE},
        blogAuthenticate = #{record.blogauthenticate,jdbcType=VARCHAR},
        industry = #{record.industry,jdbcType=VARCHAR},
        BCI = #{record.bci,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

</mapper>